<?xml version="1.0" ?><config>
    <modules>
        <Vaimo_UrbIt>
            <version>0.1.58</version>
        </Vaimo_UrbIt>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <urbit_update_checkout_time><to_order>*</to_order></urbit_update_checkout_time>
                <urbit_triggered><to_order>*</to_order></urbit_triggered>
                <urbit_delivery_time><to_order>*</to_order></urbit_delivery_time>
                <urbit_message><to_order>*</to_order></urbit_message>
                <urbit_first_name><to_order>*</to_order></urbit_first_name>
                <urbit_last_name><to_order>*</to_order></urbit_last_name>
                <urbit_street><to_order>*</to_order></urbit_street>
                <urbit_city><to_order>*</to_order></urbit_city>
                <urbit_postcode><to_order>*</to_order></urbit_postcode>
                <urbit_phone_number><to_order>*</to_order></urbit_phone_number>
                <urbit_email><to_order>*</to_order></urbit_email>
            </sales_convert_quote>
            <sales_convert_order>
                <urbit_update_checkout_time><to_quote>*</to_quote></urbit_update_checkout_time>
                <urbit_triggered><to_order>*</to_order></urbit_triggered>
                <urbit_delivery_time><to_quote>*</to_quote></urbit_delivery_time>
                <urbit_message><to_quote>*</to_quote></urbit_message>
                <urbit_first_name><to_quote>*</to_quote></urbit_first_name>
                <urbit_last_name><to_quote>*</to_quote></urbit_last_name>
                <urbit_street><to_quote>*</to_quote></urbit_street>
                <urbit_city><to_quote>*</to_quote></urbit_city>
                <urbit_postcode><to_quote>*</to_quote></urbit_postcode>
                <urbit_phone_number><to_quote>*</to_quote></urbit_phone_number>
                <urbit_email><to_quote>*</to_quote></urbit_email>
            </sales_convert_order>
        </fieldsets>
        <blocks>
            <vaimo_urbit>
                <class>Vaimo_UrbIt_Block</class>
            </vaimo_urbit>
        </blocks>
        <helpers>
            <vaimo_urbit>
                <class>Vaimo_UrbIt_Helper</class>
            </vaimo_urbit>
        </helpers>
        <models>
            <vaimo_urbit>
                <class>Vaimo_UrbIt_Model</class>
            </vaimo_urbit>
        </models>
        <resources>
            <urbit_setup>
                <setup>
                    <module>Vaimo_UrbIt</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </urbit_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <vaimo_urbit>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>vaimo_urbit/observer::checkOrdersForUpdateCheckouts</model></run>
            </vaimo_urbit>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <sales_order_save_after>
                <observers>
                    <vaimo_urbit_send_checkout_update>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>checkOrdersStatusForUpdateCheckout</method>
                    </vaimo_urbit_send_checkout_update>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <vaimo_urbit_createorder>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>saveOrderUrbitInformation</method>
                    </vaimo_urbit_createorder>
                </observers>
            </checkout_type_onepage_save_order>
           <!-- <checkout_onepage_controller_success_action>
                <observers>
                    <vaimo_urbit_createorder>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>updateCheckout</method>
                    </vaimo_urbit_createorder>
                </observers>
            </checkout_onepage_controller_success_action>-->
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <urbit_controller_action_predispatch_checkout_onepage_index>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>createCart</method>
                    </urbit_controller_action_predispatch_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <urbit_controller_action_predispatch_checkout_onepage_index>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>createCheckout</method>
                    </urbit_controller_action_predispatch_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <urbit_checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>saveShippingDetails</method>
                    </urbit_checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>


            <core_block_abstract_to_html_before>
                <observers>
                    <urbit_price_block_render>
                        <type>singleton</type>
                        <class>Vaimo_UrbIt_Model_Observer</class>
                        <method>insertBlock</method>
                    </urbit_price_block_render>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <vaimo_urbit>
                    <file>vaimo_urbit.xml</file>
                </vaimo_urbit>
            </updates>
        </layout>
        <routers>
            <urbit>
                <use>standard</use>
                <args>
                    <module>Vaimo_UrbIt</module>
                    <frontName>urbit</frontName>
                </args>
            </urbit>
        </routers>
        <translate>
            <modules>
                <vaimo_urbit>
                    <files>
                        <default>Vaimo_UrbIt.csv</default>
                    </files>
                </vaimo_urbit>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <urbit_onehour>
                <active>0</active>
                <showmethod>1</showmethod>
                <sallowspecific>0</sallowspecific>
                <model>Vaimo_UrbIt_Model_Carrier_OneHour</model>
                <name>urb-it</name>
                <title>urb-it</title>
                <method_onehour>urb-it nu - Få din order levererad direkt i Stockholm</method_onehour>
                <method_specific>urb-it specifik tid - Få din order levererad när du vill i Stockholm</method_specific>
                <specificerrmsg>urb-it not available.</specificerrmsg>
                <handling>0</handling>
                <maximum_package_weight>0</maximum_package_weight>
                <oauth_token/>
                <pickup_location_id/>
                <!--<pickup_time_start>0,0,0</pickup_time_start>
                <pickup_time_end>0,0,0</pickup_time_end>-->
                <only_specific_products_allowed>1</only_specific_products_allowed>
                <api_environment>retailer-api.urb-it.</api_environment>
                <enable_postcode_check>0</enable_postcode_check>
                <eligible_postcodes>111??,112??,113??,114??,115??,116??,117??,118??,120??</eligible_postcodes>
                <status_list>pending, pending_payment, reserved</status_list>
                <enable_price_block>1</enable_price_block>
                <!--<eligible_weekdays>1,2,3,4,5</eligible_weekdays>-->
                <!--<days_forth>4</days_forth>-->
            </urbit_onehour>
        </carriers>
    </default>
</config>